    .btn{
        font-weight: 500;
        letter-spacing: .6px;
        transition: all .7s;
        color:#fff;
        transition: all 1s ease;
        border: 1px solid #8875FF;
    }
    .btn:hover{ 
        background: forestgreen;
    }